@model  MvcOnlineTİcariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="container-fluid">
    <h1 class="mt-4">Kategori Yönetimi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Kategoriler</a></li>
        <li class="breadcrumb-item active">Kategori Ekle</li>
    </ol>
</div>

<form class="form-group" method="post">

    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" id="Btn1">KAYDET</button>
    <script>
        $('#Btn1').click(function () {
            alert("Kategori başarılı bir şekilde eklendi")
        });
    </script>
</form>


